.popover-panel {
    @apply absolute z-10 -ml-4 mt-3 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2;
}

.sign-up-btn {
    @apply w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700;
}

.popover-btn {
    @apply bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500;
}

.borders {
    @apply flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10;
}

.link {
    @apply text-base font-medium text-gray-500 hover:text-gray-900;
}

.wrapper-btn {
    @apply hidden md:flex items-center justify-end md:flex-1 lg:w-0;

    .signin {
        @apply whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900;
    }

    .signup {
        @apply ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700;
    }
}


.cart {
    &-badge {
        @apply inline-flex items-center px-1.5 py-0.5 border-2 border-white rounded-full text-xs font-semibold leading-4 bg-red-500 text-white;
    }

    &-btn {
        @apply py-4 px-1 relative border-2 border-transparent text-gray-800 rounded-full hover:text-gray-400 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out;
    }
}

.logo {
    height: 70px;
    width: 70px;
}

.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    position: absolute;
    display: none;
    right: 0;
    min-width: 12rem;
    padding: 1rem;
    z-index: 1;
    background-color: #203040;
    margin: 0;
    border-radius: 0.5rem;
    color: aqua;
    border-style: double
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }